body{
    background-color: #F2EB99;
}

ul.side-nav a{
    color: white;
}

.card{

}

main, nav{
    padding-left: 400px;
}

svg{
    transform: scale(1.6);
    padding-top: 9px;
    margin-right: 4px;
    color: white;
}

ul>li:first-child+li{
    padding-left: 16px;
}

input::-webkit-input-placeholder{
    color: #868686;
}

ul.tabs{
    background-color: #F2EB99;
}

.indicator{
    background-color: #CFC87E !important;
}

.gambi{
    position: relative;
    margin-left: calc(60% - 345px) !important;
}